language: node_js
node_js:
  - "11.10.1"

services:
  - docker

script:
  - npm run lint

deploy:
  provider: script
  script: bash docker-push.sh latest
  on:
    branch:
      - master
      - staging
